Final Project

BAN5650

Health Insurance Cross Sell Prediction 

Building a model to predict whether a customer would be interested in Vehicle Insurance based on information obtained from thier purchases of health insurance.

Data Cleaning & Feature Engineering

In [81]:
import pandas as pd
# import the dataset
data = pd.read_csv('train.csv')

In [82]:
# check the basic info of dataset
print(data.head())
print('\nShape of data:')
print(data.shape)
print()
print(data.dtypes)

   id  Gender  Age  Driving_License  Region_Code  Previously_Insured  \
0   1    Male   44                1         28.0                   0
1   2    Male   76                1          3.0                   0
2   3    Male   47                1         28.0                   0
3   4    Male   21                1         11.0                   1
4   5  Female   29                1         41.0                   1

  Vehicle_Age Vehicle_Damage  Annual_Premium  Policy_Sales_Channel  Vintage  \
0   > 2 Years            Yes         40454.0                  26.0      217
1    1-2 Year             No         33536.0                  26.0      183
2   > 2 Years            Yes         38294.0                  26.0       27
3    < 1 Year             No         28619.0                 152.0      203
4    < 1 Year             No         27496.0                 152.0       39

   Response
0         1
1         0
2         1
3         0
4         0

Shape of data:
(381109, 12)

id                        int64
Gender                   object
Age                       int64
Driving_License           int64
Region_Code             float64
Previously_Insured        int64
Vehicle_Age              object
Vehicle_Damage           object
Annual_Premium          float64
Policy_Sales_Channel    float64
Vintage                   int64
Response                  int64
dtype: object

In [83]:
def missing_values(df):
    '''
    This function is used to check the number of missing values of each column
    '''
    for col in df.columns:
        if_any = df[col].isnull().any()
        sum_missing = df[col].isnull().sum()
        print(col, str(if_any), str(sum_missing))
        print()

In [84]:
import numpy as np
def unique_values(df):
    '''
    This function is used to check the unique values of each column
    '''
    for col in df.columns:
        uni = np.unique(df[col])
        length = len(uni)
        print('There are ',str(length), ' unique values in column', col)
        print()
        print(uni)
        print()

In [85]:
def seperate(df, feature, bins, labels):
    '''
    This function is used to seperate the groups
    '''
    df[feature] = pd.cut(df[feature], bins = bins, labels = labels, right = False)

In [86]:
from sklearn.preprocessing import LabelEncoder 

def encoders (df, cat_features):
    '''
    This function is used to generate and store the encoders
    '''
    labels=[]
    # for each column
    for x in cat_features:
        l = LabelEncoder()
        labels.append(l.fit(list(df[x])))
    
    return labels

In [87]:

def encoding(df, cat_features, encoders):
    '''
    This function is used to label encoding all the categorical features
    '''
    i = 0
    # for each column 
    for x in cat_features:
        df[x]=encoders[i].transform(df[x])
        i=i+1

In [ ]:
def distributions(df):

In [ ]:
def outliers (df, num_features):

In [88]:
# check if there are missing values in all the columns
missing_values(data)

id False 0

Gender False 0

Age False 0

Driving_License False 0

Region_Code False 0

Previously_Insured False 0

Vehicle_Age False 0

Vehicle_Damage False 0

Annual_Premium False 0

Policy_Sales_Channel False 0

Vintage False 0

Response False 0

In [89]:
# check how many unique values exist in each column and print out the names
unique_values(data)

There are  381109  unique values in column id

[     1      2      3 ... 381107 381108 381109]

There are  2  unique values in column Gender

['Female' 'Male']

There are  66  unique values in column Age

[20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43
 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67
 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85]

There are  2  unique values in column Driving_License

[0 1]

There are  53  unique values in column Region_Code

[ 0.  1.  2.  3.  4.  5.  6.  7.  8.  9. 10. 11. 12. 13. 14. 15. 16. 17.
 18. 19. 20. 21. 22. 23. 24. 25. 26. 27. 28. 29. 30. 31. 32. 33. 34. 35.
 36. 37. 38. 39. 40. 41. 42. 43. 44. 45. 46. 47. 48. 49. 50. 51. 52.]

There are  2  unique values in column Previously_Insured

[0 1]

There are  3  unique values in column Vehicle_Age

['1-2 Year' '< 1 Year' '> 2 Years']

There are  2  unique values in column Vehicle_Damage

['No' 'Yes']

There are  48838  unique values in column Annual_Premium

[  2630.   6098.   7670. ... 495106. 508073. 540165.]

There are  155  unique values in column Policy_Sales_Channel

[  1.   2.   3.   4.   6.   7.   8.   9.  10.  11.  12.  13.  14.  15.
  16.  17.  18.  19.  20.  21.  22.  23.  24.  25.  26.  27.  28.  29.
  30.  31.  32.  33.  34.  35.  36.  37.  38.  39.  40.  41.  42.  43.
  44.  45.  46.  47.  48.  49.  50.  51.  52.  53.  54.  55.  56.  57.
  58.  59.  60.  61.  62.  63.  64.  65.  66.  67.  68.  69.  70.  71.
  73.  74.  75.  76.  78.  79.  80.  81.  82.  83.  84.  86.  87.  88.
  89.  90.  91.  92.  93.  94.  95.  96.  97.  98.  99. 100. 101. 102.
 103. 104. 105. 106. 107. 108. 109. 110. 111. 112. 113. 114. 115. 116.
 117. 118. 119. 120. 121. 122. 123. 124. 125. 126. 127. 128. 129. 130.
 131. 132. 133. 134. 135. 136. 137. 138. 139. 140. 143. 144. 145. 146.
 147. 148. 149. 150. 151. 152. 153. 154. 155. 156. 157. 158. 159. 160.
 163.]

There are  290  unique values in column Vintage

[ 10  11  12  13  14  15  16  17  18  19  20  21  22  23  24  25  26  27
  28  29  30  31  32  33  34  35  36  37  38  39  40  41  42  43  44  45
  46  47  48  49  50  51  52  53  54  55  56  57  58  59  60  61  62  63
  64  65  66  67  68  69  70  71  72  73  74  75  76  77  78  79  80  81
  82  83  84  85  86  87  88  89  90  91  92  93  94  95  96  97  98  99
 100 101 102 103 104 105 106 107 108 109 110 111 112 113 114 115 116 117
 118 119 120 121 122 123 124 125 126 127 128 129 130 131 132 133 134 135
 136 137 138 139 140 141 142 143 144 145 146 147 148 149 150 151 152 153
 154 155 156 157 158 159 160 161 162 163 164 165 166 167 168 169 170 171
 172 173 174 175 176 177 178 179 180 181 182 183 184 185 186 187 188 189
 190 191 192 193 194 195 196 197 198 199 200 201 202 203 204 205 206 207
 208 209 210 211 212 213 214 215 216 217 218 219 220 221 222 223 224 225
 226 227 228 229 230 231 232 233 234 235 236 237 238 239 240 241 242 243
 244 245 246 247 248 249 250 251 252 253 254 255 256 257 258 259 260 261
 262 263 264 265 266 267 268 269 270 271 272 273 274 275 276 277 278 279
 280 281 282 283 284 285 286 287 288 289 290 291 292 293 294 295 296 297
 298 299]

There are  2  unique values in column Response

[0 1]

id: categorical

gender: categorical

age: categorical (seperate in defferent groups)

driving_license: categorical

region_code: categorical

previously_insured: categorical

vehicle_age: numerical

vehicle_damage: categorical

annual_premium: numerical

policy_sales_channel: categorical

vintage: numerical

Response: categorical

In [90]:
# define categorical independent variables 
cat_cols = ['Gender', 'Age','Driving_License', 'Region_Code','Previously_Insured','Vehicle_Damage','Policy_Sales_Channel', 
'Vehicle_Age']
# define numerical independent variables
num_cols = ['Vehicle_Age','Annual_Premium','Vintage']

In [91]:
# seperate the group for age
bins = [20,30,40,50,60,70,80,90]
labels = ['20-30', '30-40', '40-50','50-60','60-70','70-80','80-90']
seperate(data,'Age',bins,labels)

In [92]:
# encoding the categorial values
l = encoders(data, cat_cols)
encoding(data, cat_cols, l)

In [93]:
data.head()

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,1,1,2,1,28,0,2,1,40454.0,24,217,1
1,2,1,5,1,3,0,0,0,33536.0,24,183,0
2,3,1,2,1,28,0,2,1,38294.0,24,27,1
3,4,1,0,1,11,1,1,0,28619.0,145,203,0
4,5,0,0,1,41,1,1,0,27496.0,145,39,0